pip install -r requirements.txtastor==0.8.1
astroid==2.4.2
atomicwrites==1.4.0
attrs==20.2.0
bandit==1.6.2
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
colorama==0.4.4
cryptography==3.2.1
darglint==1.5.5
Deprecated==1.2.10
docutils==0.16
eradicate==1.0
flake8==3.8.4
flake8-bandit==2.1.2
flake8-broken-line==0.2.1
flake8-bugbear==19.8.0
flake8-commas==2.0.0
flake8-comprehensions==3.3.0
flake8-debugger==3.2.1
flake8-docstrings==1.5.0
flake8-eradicate==0.3.0
flake8-isort==3.0.1
flake8-polyfill==1.0.2
flake8-quotes==2.1.2
flake8-rst-docstrings==0.0.12
flake8-string-format==0.2.3
gitdb==4.0.5
GitPython==3.1.11
idna==2.10
iniconfig==1.1.1
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
nexmo==2.5.2
packaging==21.3
pbr==5.5.1
pep8-naming==0.9.1
pluggy==1.0.0
py==1.11.0
pycodestyle==2.6.0
pycparser==2.20
pydocstyle==5.1.1
pyflakes==2.2.0
Pygments==2.7.2
PyJWT==1.7.1
pylint==2.6.0
pyparsing==3.0.6
pytest==6.2.5
python-dotenv==0.15.0
pytz==2020.4
PyYAML==5.3.1
requests==2.24.0
restructuredtext-lint==1.3.1
selenium==3.141.0
six==1.15.0
smmap==3.0.4
snowballstemmer==2.0.0
stevedore==3.2.2
telebot==0.0.4
testfixtures==6.15.0
toml==0.10.1
twilio==6.47.0
typing-extensions==3.7.4.3
urllib3==1.25.11
wemake-python-styleguide==0.14.1
wrapt==1.12.1
